.AnchorPane {
    -fx-background-image: url(/pictures/pagebackground/changePassBackGround.jpg);
}

.button {
    -fx-background-color: black;
    -fx-text-fill: #5089B9;
    -fx-border-color: #5089B9;
    -fx-border-width: 3;
}

.button:hover {
    -fx-background-color: #5089B9;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 3;
}

.text-field {
    -fx-background-color: #5089B9;
    -fx-border-color: black;
}

.label{
    -fx-border-color: #5089B9;
    -fx-font-size : 12;
    -fx-font-weight: bold;
    -fx-text-fill: #5089B9;
}

.pane{
    -fx-background-color: black;
}