.root{
    -fx-background-color: black;
}


.option {
    -fx-text-alignment: center;
    -fx-position-shape: relative;
    -fx-border-color: #ffffff;
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.option:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
}

.option:pressed {
    -fx-translate-y: +2;
}

#chart{
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 7;
}

