.root {
    -fx-background-image: url(/pictures/pagebackground/registerBackGround.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.Anchor-pane{
    -fx-background-image: url(/pictures/pagebackground/registerBackGround.jpg);
    -fx-background-color: red;
}

.chart {
    -fx-border-width: 5;
    -fx-background-color: #051932;
    -fx-border-style: solid;
    -fx-border-color: #443A8D;
}

.label{
    -fx-text-fill:#33c1b5 ;
}

.reg-button {
    -fx-background-color: #051932;
    -fx-pref-width: 100px;
    -fx-text-fill: #33c1b5;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-color: #443A8D;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-border-radius: 5;
}

.reg-button:hover {
    -fx-background-color: #20887e;
    -fx-pref-width: 100px;
    -fx-text-fill: #443A8D;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-color: #443A8D;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-border-radius: 5;
}


.text-field {
    -fx-font-weight: bold;
    -fx-background-color: #051932;
    -fx-text-fill: #08FDFE;
    -fx-border-color: #08FDFE;
}


/*   -fx-background-color: #ffffff;
   -fx-pref-width: 100px;
   -fx-text-fill: #33c1b5;
   -fx-background-radius: 10;
   -fx-cursor: hand;
    -fx-background-color: #33c1b5;
   -fx-text-fill: white;
     -fx-translate-y: +2;

   */




