
.root {
    -fx-border-style: solid;
    -fx-background-image:url(/pictures/pagebackground/welcomePage.jpg) ;
    -fx-background-size: cover;
    -fx-border-color: white;
    -fx-background-color: black;
}

.option {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-radius: 11;
    -fx-background-color: black;
}

#Title{
    -fx-background-color: black;
    -fx-background-radius: 11;
    -fx-border-radius: 11;
}




