
.root {
    -fx-border-style: solid;
    -fx-background-image:url(/pictures/pagebackground/mainPageBackGround.jpg) ;
    -fx-background-size: cover;
    -fx-border-color: white;
    -fx-background-color: black;
}

.option {
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-width: 5;
    -fx-border-radius: 2000;
    -fx-border-color: black;
    -fx-background-color: white;
}

#Title{
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white ;
    -fx-border-radius: 20;
    -fx-text-fill: white;
}

.option:hover {
    -fx-border-radius: 2000;
    -fx-border-color:  white;
    -fx-text-fill: white;
    -fx-background-color: black;
}

.option:pressed {
    -fx-translate-y: +2;
}



